<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Checklist Alert</key>
	<string>Some items are not picked up yet. Please mark the unavailable items as Not Available.</string>
	<key>Confirm Delivery Description</key>
	<string>Scan the QR code located at the requester&apos;s receipt screen to complete the delivery.</string>
	<key>PlacesAPI Secret</key>
	<string>Z3DL0OY05L2CJSJ3UFFIXHQRYIXLSS4IHTXPS1PAVQBW33QH</string>
	<key>Points Info Description</key>
	<string>You can earn points by vounteering to help others to purchase their groceries or simply making purchases using this app.</string>
	<key>Error Alert</key>
	<string>Something went wrong, please try again.</string>
	<key>PlacesAPI ID</key>
	<string>SC55WRP0JGOSO0A2Q2LHPBPXNAJYXFCHVAWHBSJVML3BGP24</string>
</dict>
</plist>
